{% extends "default.html" %}
{% block body %}


<body data-weather="Rain" class="{% if weather %}weather-found{% endif %} {% if error %}weather-found{% endif %} {% if test %}weather-found{% endif %}">
    <div class="container">
        <div class="data-toggle"></div>
        <h1>Weather-App : Votre météo est notre priorité</h1>
        <div id="animation-container"></div>

        <form method="POST" action="/">
            <input type="text" name="city" id="city" placeholder="Entrer le nom d'une ville">
            <button type="submit" name="submit"  class="btn btn-success">Rechercher</button>
        </form>
    </div>

<a class="history btn btn-primary" href="/history">Historique</a>
    {% if weather %}
    <div id="weather-info-container" class="weather-block-horizontal">
        <!-- Bloc Icône en haut -->
        <div id="weather-icon" class="weather-item-full">
            <h1>Informations météo</h1>
            <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="Weather Icon" id="weatherIcons">
        </div>

        <!-- Blocs sous forme de cartes -->
        <div class="weather-cards">
            <div class="weather-card">
                <strong>Ville</strong>
                <p>{{ weather.city }}, {{ weather.country }}</p>
            </div>
            <div class="weather-card">
                <strong>Date</strong>
                <p>{{ weather.date }}</p>
            </div>
            <div class="weather-card" >
                <strong>Condition</strong>
                <p id="weather-condition">{{ weather.condition }}</p>
            </div>
            <div class="weather-card">
                <strong>Température</strong>
                <p>{{ weather.temperature }}°C</p>
            </div>
            <div class="weather-card">
                <strong>Sensation</strong>
                <p>{{ weather.feels_like }}°C</p>
            </div>
            <div class="weather-card">
                <strong>Pression</strong>
                <p>{{ weather.pressure }} hPa</p>
            </div>
            <div class="weather-card">
                <strong>Humidité</strong>
                <p>{{ weather.humidity }}%</p>
            </div>
            <div class="weather-card">
                <strong>Vent</strong>
                <p>{{ weather.wind_speed }} m/s</p>
            </div>
            <div class="weather-card">
                <strong>Direction</strong>
                <p>{{ weather.wind_direction }}°</p>
            </div>
            <div class="weather-card">
                <strong>Lever du Soleil</strong>
                <p>{{ weather.sunrise }}</p>
            </div>
            <div class="weather-card">
                <strong>Coucher du Soleil</strong>
                <p>{{ weather.sunset }}</p>
            </div>
        </div>
    </div>

    {% endif %}

    {% if error %}
        <h4 class="d-flex justify-content-center" style="color: red; transition: all 2s ease-in-out">{{ error }}</h4>
    {% endif %}
    
    {% if welcome %}
        <h4 class="d-flex justify-content-center">{{ welcome }}</h4>
       

   

    <div class="header">
        <h1>Données Météorologiques</h1>
    </div>
        <div class="section">
            <h2>À propos de nous</h2>
            <p>Nous fournissons des données météorologiques précises et en temps réel pour vous aider à planifier vos journées et vos activités.</p>
        </div>
        
    </div>
  


    {% endif %}
    <div class="footer">
        <p>&copy; 2024 Données Météorologiques. Tous droits réservés.</p>
    </div>
</body>
{% endblock %}
